<div class="profile-header">
  <h2><%= @user.full_name %></h2>
  <%= link_to "Ad Friend", new_user_friendship_path(invitee_id: @user) %>
</div>

<% if @invitees %>
  <% @invitees.each do |invitee| %>
    <div class="invitee_list">
      <%= invitee.full_name %>
    </div>
  <% end %>
<% end %>
