<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi, <%= @invitee.first_name %>!You have been invited to sign up and join Six Degrees, 
      the app that helps you form connections and make lasting memories wherever you go. Check us out at six_degrees.com.
      Hope to see you soon!<br>
    </p>
  </body>
</html>