<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @invitee.first_name %>!</h1>
    <p>
      They say that there's just six degrees of separation between you and any of the other seven billion people living on this planet. That's a pretty impressive idea, isn't it? Whether you're taking a short trip or moving for a new job, it can be a lonely experience without a friendly, familiar face there. That's where your friendly app, Six Degrees, comes in; it'll help you prepare to make that experience much more enjoyable by helping you reach out to your network of friends - people who are willing to connect you with their people (blah blah blah).


      You are invited to sign up and join Six Degrees!<br>
    </p>
    <p>
      Check us out at <%= @url %>.
      Hope to see you soon!
    </p>
    <p>
  </body>
</html>