 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Six Degrees, <%= @user.first_name %>!</h1>
    <p>
      You have successfully signed up at http://six-d.herokuapp.com.
      Your username is: <%= @user.username %>.<br>
    </p>
    <p>
      Click on the link to activate your account:
    </p>
    <%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
  </body>
</html>