@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red; 
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

body {
  padding-top: 45px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 11px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 15px 0;
    border-bottom: 1px solid black;
  }
}

#messagesDiv {
  font-size: 40px;
  div {
    em { 
      color: blue;
    }
  }
}

$navbar-height: 40px;
$big-logo-padding: 15px; 
$small-logo-padding: 2.5px; 


// Navbar styling

.navbar-inverse {
  background: transparent;
  border-bottom: none;
}
.navbar-inverse .navbar-toggle {
  border: 1px transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border-color: transparent;
  @media (max-width: 767px) {
    background: transparent;
  }
}
.navbar-inverse .navbar-nav > li > a {
color: rgba(57, 177, 198, 1);
  

}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: black;

}
ul.nav {
}

// Logo styling
.small-logo-container {
    padding-top: $navbar-height;
    height: $navbar-height;
    overflow: hidden;
  }

.small-logo {
  color: white;
  font-size: 2em;
  padding-bottom: $small-logo-padding;
}

// big logo styling
.big-logo-row {
  background: rgba(31, 210, 97, 1);
  
  .big-logo-container {
    padding-top: $navbar-height;
    font-family: 'Pacifico', cursive;
    // font-family: 'Stalemate', cursive;
  }
  
  h1 {
    font-size:3.0em;
    margin:0;
    padding:0 0 $big-logo-padding 0;
    
    @media (min-width: 400px) { font-size: 4.5em; }
    @media (min-width: 440px) { font-size: 5.5em; }
    @media (min-width: 500px) { font-size: 6.5em; }
    @media (min-width: 630px) { font-size: 7.5em;  }
    @media (min-width: 768px) { font-size: 9em; padding-bottom: $big-logo-padding * 2; }
    @media (min-width: 1200px) { font-size: 12em; }
  }
}


















