@import "bootstrap-sprockets";
@import "bootstrap";
@import "notifications";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* forms */

* {

  box-sizing: border-box; 
  padding: 0;
  margin: 0;
  font-family: 'Signika', sans-serif;
}

body {
  background: url("sanfrancisco.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.signup-row {
  color: white;
}

.login-row {
  color: white;
}

body {
  padding-top: 45px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 11px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 15px 0;
    border-bottom: 1px solid black;
  }
}

#messagesDiv {
  font-size: 40px;
  div {
    em { 
      color: blue;
    }
  }
}

$navbar-height: 40px;
$big-logo-padding: 15px; 
$small-logo-padding: 2px; 


// Navbar styling

.navbar-inverse {
  background: #3F2860;
  border-bottom: none;
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #3F2860;
  border-color: #3F2860;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border-color: transparent;
  @media (max-width: 767px) {
    background: #3F2860;
  }
}
.navbar-inverse .navbar-nav > li > a {
color: white;
  

}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: gray;
}

ul.nav {
}

// Logo styling
.small-logo-container {
    padding-top: $navbar-height;
    height: $navbar-height;
    overflow: hidden;
  }

.small-logo {
  color: black;
  font-size: 2.5em;
  padding-bottom: $small-logo-padding;
}

// big logo styling
.big-logo-row {
  background: transparent;
  // opacity: 0.5; 
  // z-index: 1; 
  
  .big-logo-container {
    padding-top: $navbar-height;
    font-family: 'Signika', sans-serif;
    color: #4f4d51;
    opacity: 0.9; 
    left: 140px;
    letter-spacing: -1x;
    
  }
  
  h1 {
    font-size: 23px;
    margin: 0;
    padding: 0 0 $big-logo-padding 0;
    
    @media (min-width: 400px) { font-size: 4.5em; }
    @media (min-width: 440px) { font-size: 5.5em; }
    @media (min-width: 500px) { font-size: 6.5em; }
    @media (min-width: 630px) { font-size: 7.5em;  }
    @media (min-width: 768px) { font-size: 9em; padding-bottom: $big-logo-padding * 2; }
    @media (min-width: 1200px) { font-size: 12em; }
  }
}

.about {
  font-size: 20px;
}

// .item {
// display: block;
// max-width: 100%;
// height: auto;
// line-height: 1;

// }














