<div id="user_sidebar">
  <% if logged_in? %>
    <p>Hello, <%= current_user.login %> (<%= link_to 'Log out', logout_path %>)</p>
      <%= link_to 'Send invitation', new_invitation_path %>     
    </p>
    <% end %>
  <% else %>
    <p>If you have an account, log in: <%= link_to "Log in", login_path %></p>
  <% end %>
</div>