<div class="signuppage">
  <div class="">
    <p class="signup">Sign up</p>
      <div class="onebox">
        <div class="formpadding">
          <form name="signUpForm" ng-submit="this.submitForm(signupForm.$valid)" novalidate>

            <label for="name">first &nbsp; name</label>
            <input type="text" name="first_name" ng-change="this.errormsg=''" ng-model="this.signup.name" class="ng-pristine ng-invalid" placeholder="first name" required />

            <label for="name">last &nbsp; name</label>
            <input type="text" name="last_name" ng-change="this.errormsg=''" ng-model="this.signup.name" class="ng-pristine ng-invalid" placeholder="last name" required />

            <label for="email">@address</label>
            <input type="email" name="email" ng-change="this.errormsg=''" ng-model="this.signup.email" class="ng-pristine ng-invalid" placeholder="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required />

            <label for="password">password</label>
            <input type="password" name="password" ng-change="this.errormsg=''" ng-model="this.signup.password" class="ng-pristine ng-invalid" placeholder="password" required />

            <label for="password_confirmation">password &nbsp; confirmation</label>
            <input type="password" name="password_confirmation" ng-model="this.signup.password_confirmation" class="ng-pristine ng-invalid" placeholder="password &nbsp; confirmation" required />

            <div class="submitbutton">
              <button type="submit" class="button" ng-disabled="signupForm.$invalid || ( this.signup.password != this.signup.password_confirmation )">Sign up</button>
            </div>

          </form>
        </div>
      </div>
  </div>
</div>


